div{
    background-color: yellowgreen;
}
gera{
    background-color: white;
    color: rgb(50, 60green, b100lue);
}
aside{
    float: right;
}

gers{
    background-color: blue;
}
jers{
    background-color: brown;
}
mum{
    float: left;
}
